
body{

background-image: url(bkg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



h1{

color: white;
background-color: slategray;
font-size: larger;
font: bolder;
width: 200px;
border-radius: 10px;
padding: 5px;
}

img
{
border-radius: 2cm;
border-style: double;
border: mediumvioletred;
border-color: aquamarine;
}


h2{

color: #1bb9e9;
background-color: rgb(38, 49, 59);
font-size: larger;
font: bolder;
width: 200px;
border-radius: 10px;
padding: 5px;
}


h3{

color: rgb(5, 25, 92);
background-color: rgb(42, 53, 65);
font-size: larger;
font: bolder;
width: 200px;
border-radius: 10px;
padding: 5px;


}


h4{

color: white;
background-color: slategray;
font-size: larger;
font: bolder;
width: 200px;
border-radius: 10px;
padding: 5px;
}


p{

color: white;
font-size: larger;
font: bolder;
width: 300px;
padding: 20px;
border-width: 10px;
border-radius: 20px;
border-left-style: inset;
border-right-style: outset;
background:linear-gradient(to top,rgb(146, 22, 64),rgb(26, 20, 114));


border-color: rgba(36, 135, 165, 0.849);
}


ol{

color: rgb(146, 218, 79);
background-color: rgb(43, 44, 2);
font-size: larger;
font: bolder;
width: 300px;
padding: 20px;
border: 2px solid black;
border-radius: 15px;
}

ul{

color: rgb(77, 8, 8);
background-color: rgb(108, 147, 185);
font-size: larger;
font: bolder;
width: 300px;
padding: 20px;
border: 2px solid black;
border-radius: 15px;
}


#p1
{
background-color: rgb(2, 36, 48);
color: rgb(216, 124, 124);
  font-family: "Playwrite US Trad Guides", 'Sans-serif', cursive;
  font-weight: 400;
  font-style: normal;

}

.kek
{
background-color: rgb(92, 2, 48);
color: rgb(216, 212, 124);  
font-size: larger;
font: bolder;
font-family: 'Playwrite US Trad Guides', cursive;
  font-weight: 400;
  font-style: normal;
}

